.part {
  border: 1px black solid;
  margin-right: 10px;
}
body {
  display: flex;
}

input[type="text"] {
  border: none;
  border-bottom: 1px #a0a0a0 solid;
}

input[type="button"] {
  background-color: transparent;
  border: 1px black solid;
  padding: 4px;
}

.img {
  width: 153px;
  height: 53px;
  margin-right: 10px;
  cursor: pointer;
}

.img-arrow {
  border: 2px solid transparent;
  border-top: 20px solid green;
}

.bord {
  width: 100px;
  border: 1px black solid;
  margin-top: 50px;
  transition: 1s;
}
